[Desktop Entry]
Name=teo-main yarpmanager
Type=Application
MimeType=application/vnd.ms-htmlhelp;
Exec=yarpmanager
NoDisplay=true
StartupNotify=true
Icon=/home/teo/teo-main/doc/fig/teo-icon-64x64.png
Path=/home/teo/teo-main/share
